* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 20px Helvetica, Arial; }
form { background: #000; padding: 10px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 20px; width: 90%; margin-right: .5%; font: 20px Helvetica, Arial;}
form button{ width: 9%; background: rgb(130, 224, 255); border: none; padding: 20px; font: 20px Helvetica, Arial; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 10px 20px; }
#messages li:nth-child(odd) { background: #eee; }
